<div class="table">
  <table>
    <thead>
      <th><h1>Follower Users</h1></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    <%= render "follow_list", users: @users %>
    </tbody>
  </table>
</div>
